/* Base Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: antiquewhite;
  color: #fff;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Header Styling */
header {
  text-align: center;
  padding: 0.2em;
  font-size: 2em;
  color: black;
}

/* Main container styling */
main {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.pseudocode {
  background-color: #000;
  color: #0f0;
  font-family: "Consolas", "Courier New", monospace;
  padding: 20px;
  border: 2px solid rgb(0, 255, 0);
  border-radius: 8px;
  box-sizing: border-box;
}

.pseudocode:hover {
  border-color: #fff;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.7); 
}

.js-container {
  background-color: #111;
  color: #ddd;
  font-family: "Consolas", "Courier New", monospace;
  padding: 20px;
  border: 2px solid #555;
  border-radius: 8px;
}

.js-container:hover {
  border-color: #bbb;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.output {
  background-color: #000;
  color: #0f0;
  font-family: "Consolas", "Courier New", monospace;
  padding: 20px;
  border: 2px solid #0f0;
  border-radius: 8px;
  margin-top: 1.5em;
}

.output:hover {
  border-color: #fff;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
}

/* Style for the run button */
button {
  display: block;
  background-color: #0f0;
  color: #111;
  border: 2px solid #0f0;
  padding: 0.75em 1.5em;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 6px;
  font-family: "Consolas", "Courier New", monospace;
  margin-top: 1.5em;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

button:hover {
  background-color: #111;
  color: #0f0;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 255, 0, 1);
}
